@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: "Kalam", cursive;
}

:root {
    --text-color: #FFFFFF;
    --icon-color: #FFA500;
    --icon-hover-bg: #32CD32;
    --placeholder-color: #888888;
    --outgoing-chat-bg: #333333;
    --incoming-chat-bg: #444444;
}

.light-mode {
    --text-color: #0047AB;
    --icon-color: #FFD700;
    --icon-hover-bg: #FF4500;
    --placeholder-color: #CCCCCC;
    --outgoing-chat-bg: #E0FFFF;
    --incoming-chat-bg: #FFFACD;
}

body {
    background-color: var(--outgoing-chat-bg);
}

.chat-container {
    max-height: 100vh;
    padding-bottom: 150px;
    overflow-y: auto;
}

.chat-container .chat {
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.chat-container .chat.outgoing {
    background-color: var(--outgoing-chat-bg);
}

.chat-container .chat.incoming {
    background-color: var(--incoming-chat-bg);
}

.chat .chat-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: flex-start;
}

.chat .chat-details {
    display: flex;
    align-items: center;
}

.chat .chat-details img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.chat .chat-details p {
    font-size: 17px;
    padding: 0 50px 0 25px;
}

.typing-animation {
    display: inline-flex;
    padding-left: 25px;
}

.typing-animation .typing-dot {
    height: 7px;
    width: 7px;
    background-color: var(--text-color);
    margin: 0 3px;
    border-radius: 50%;
    opacity: 0.7;
    animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

@keyframes animateDots {

    0%,
    44% {
        transform: translateY(0px);
    }

    22% {
        opacity: 0.4;
        transform: translateY(-7px);
    }

    44% {
        opacity: 0.2;
    }
}

.default-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: var(--text-color);
}

.typing-container {
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    width: 100%;
    background-color: var(--outgoing-chat-bg);
    border: 1px solid var(--incoming-chat-bg);
}

.typing-container .typing-content {
    display: flex;
    width: 100%;
    max-width: 950px;
    align-items: flex-end;
}

.typing-container .typing-textarea {
    width: 100%;
    display: flex;
    position: relative;
}

.typing-textarea textarea {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    max-height: 250px;
    padding: 15px 45px 15px 20px;
    font-size: 16px;
    background: var(--incoming-chat-bg);
    color: var(--text-color);
    resize: none;
    overflow-y: auto;
}

.typing-textarea textarea::placeholder {
    color: var(--placeholder-color);
}

.typing-textarea span {
    position: absolute;
    right: 0;
    bottom: 0;
}

.typing-content span {
    display: flex;
    height: 55px;
    width: 55px;
    color: var(--icon-color);
    justify-content: center;
    align-items: center;
}

.typing-controls {
    display: flex;
}

.typing-controls span {
    margin-left: 7px;
    font-size: 23px;
    background-color: var(--incoming-chat-bg);
}